{% extends "layout.html" %}

{% block pageTitle %}
  Pay the Dartford Crossing
{% endblock %}

{% block beforeContent %}
{% include "includes/alpha-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-padding-top-0 govuk-!-margin-top-1">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{% if serviceName %} {{ serviceName }} {% endif %}</h1>
        <p>Dartford Crossing is a free flow crossing which means that you do not pay charges at a booth when crossing but can charges for crossing in various ways.</p>

        <a href='charges-fines' role="link" class="govuk-body govuk-link">Learn more about Dartford Crossing & Dart Charge.</a>

        <p class="govuk-body govuk-!-margin-top-5 govuk-!-margin-bottom-1">Use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li class="govuk-!-margin-bottom-0">pay for the Dartford Crossing charge</li>
          <li class="govuk-!-margin-bottom-0">pay or challenge a penalty charge notice (PCN)</li>
          <li class="govuk-!-margin-bottom-0">create and manage an account</li>
          <li class="govuk-!-margin-bottom-0">check payment for crossings</li>
        </ul>
        <p>You must pay the Dart Charge by midnight the day after you cross.</p>

        <p>You need to pay for every time you use the crossing, including weekends and bank holidays. Non-UK registered vehicles must also pay the charge.</p>


            <a href="landing" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
              Start now
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
              </svg>
            </a>


      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Crossing service Updates</caption>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Southbound</th>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
              ACTIVE
            </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="border: 0px;">Northbound</th>
            <td class="govuk-table__cell" style="border: 0px;"><strong class="govuk-tag govuk-tag--red">
              NOT ACTIVE
            </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell" style="border: 0px;">Reason:</td>
            <td class="govuk-table__cell" style="border: 0px;">Congestion</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell" style="width: 120px;">Time to clear</td>
            <td class="govuk-table__cell">The event is expected to clear between 11:15 and 11:30 on 15 December 2021</td>
          </tr>
        </tbody>
      </table>



            <h2 class="govuk-heading-m">Other ways to pay</h2>

                  <p>You can:</p>

                  <ul class="govuk-list govuk-list--bullet">
                    <li>pay with cash at <a href="https://www.payzone.co.uk/consumers/">your nearest Payzone store</a></li>
                    <li><a href="https://www.gov.uk/government/publications/set-up-or-cancel-a-dart-charge-account-by-post">set up an account by post</a></li>
                    <li><a href="https://www.gov.uk/government/publications/pay-the-dartford-crossing-charge-dart-charge-by-post">pay in advance or top-up your account by post</a></li>
                    <li>pay or set up an account by phone</li>
                  </ul>

            <div role="note" aria-label="Information" class="govuk-inset-text govuk-!-margin-top-2">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Dart Charge contact centre</h3>
                <ul class="govuk-list govuk-!-margin-bottom-0">
                  <li>Phone: <a class="govuk-link govuk-link--no-visited-state" href="#" aria-label="phone number">0300 300
                      0120</a></li>
                  <li>
                    From outside the UK:
                    <a class="govuk-link govuk-link--no-visited-state" href="#" aria-label="from outside the UK">+44 (0) 300 300
                      0120</a>
                  </li>
                  <li>
                    Textphone: <a class="govuk-link govuk-link--no-visited-state" href="#" aria-label="text-phone">18001 0300 300
                      0120</a>
                  </li>
                  <li>Monday to Sunday, 8am to 10pm (excluding public holidays)</li>
                </ul>
              </div>


    </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="charges-fines">
                Understanding charges and fines
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/government/collections/dart-charge">
                Dart Charge guidance and documents
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/government/collections/dart-charge">
                Sign into your account (if you have one)
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
{% endblock %}
