<style>
.visually-hidden, .visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  }

  .key-details-bar {
  background-color: #005ea5;
  font-family: "GDS Transport", Arial, sans-serif;
}

.key-details-bar .key-details-bar__key-details {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px 30px;
  position: relative;
  font-family: "GDS Transport", Arial, sans-serif;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details {
    padding: 20px 15px;
  }
}

.key-details-bar .key-details-bar__key-details * {
  color: #fff;
}

.key-details-bar .key-details-bar__key-details .key-details-bar__top-block::after,
.key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block::after {
  clear: both;
  content: ' ';
  display: block;
}

.key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  content: ' ';
  padding-top: 10px;
  margin-top: 6px;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block {
    border: 0;
  }
}

.key-details-bar .key-details-bar__key-details dd,
.key-details-bar .key-details-bar__key-details dt {
  float: left;
  font-size: 19px;
  margin-right: 5px;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details dd,
  .key-details-bar .key-details-bar__key-details dt {
    float: none;
    font-size: 16px;
    margin: 0;
  }
}

.key-details-bar .key-details-bar__key-details dd {
  margin-right: 100px;
  margin-left: 5px;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details dd {
    margin-bottom: 15px;
    margin-left: 0;
  }
  .key-details-bar .key-details-bar__key-details dd:last-of-type {
    margin-bottom: 0;
  }
}

.key-details-bar .key-details-bar__key-details .key-details-bar__name {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  margin-right: 10px;
  margin-left:0;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details .key-details-bar__name {
    font-size: 24px;
    line-height: 1.04167;
    float: left;
    margin: 0 5px 0 0;
  }
}

.key-details-bar .key-details-bar__key-details .key-details-bar__nino {
  font-size: 24px;
  line-height: 1;
  margin-top: 12px;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details .key-details-bar__nino {
    font-size: 18px;
    float: left;
    margin: 5px 0 0 0;
  }
}

.key-details-bar .key-details-bar__key-details .key-details-bar__status {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  padding: 5px 8px 0;
  color: #005ea5;
  background-color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
  margin: 5px 0 0;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details .key-details-bar__status {
    font-size: 14px;
    float: left;
    clear: both;
    margin-top: 5px;
  }
}
</style>

<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <div class="key-details-bar__top-block">
      <dt><strong>Account number</strong></dt>
      <dd>459244993</dd>
  <!--    <nav class="govuk-header__nav" style="float:right"style="display: inline-block">
      <dt>Account Type</dt>
      <dd>Personal PrePay account</dd>-->
  <!--    <dt class="visually-hidden">Account name:</dt>
      <dd class="key-details-bar__name">Alex Lee</dd>-->
  <!--    <nav class="govuk-header__nav" style="float:right">
        <a class="govuk-header__link" href="manage-users" style="display: inline-block; line-height: 30px; text-decoration: underline;">Invite editors</a>
        </nav>-->
  </div>
    <div class="key-details-bar__bottom-block">
      <dt><strong>Account type</strong></dt>
      <dd>Personal Pre-pay account</dd>
    <!--  <dt><strong>Account holder</strong></dt>
      <dd>Alex Lee</dd>-->
    </div>
  </dl>
</section>
