{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "../setup-acct-head-container.html" %}

<div class="govuk-form-group ">
  <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold " for="amount">Payment amount</label>
     
  <div class="govuk-input__wrapper govuk-grid-column-two-third">
   <div class="govuk-input__prefix govuk-!-font-weight-bold" aria-hidden="true">£</div>
    <input class="govuk-input govuk-!-font-weight-bold govuk-input--width-5" id="amount" name="amount" value="10.00" type="number" aria-describedby="amount" spellcheck="false">
</div>

<div class="govuk-!-margin-top-8">
  {% include "./payment-widget.html" %}
</div>

</div>

{% include "../setup-acct-bottom-container.html" %}
{% endblock %}