{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "../../../setup-acct-head-container.html" %}

<div class="govuk-grid-row" id="vehicle-column">
  <div class="govuk-grid-column-three-quarters">

    <!-- <div class="govuk-form-group app-!-pull-left govuk-!-margin-left-7">
      <label class="govuk-label govuk-!-font-weight-bold">
        Country of registration</label>
      <div class="govuk-radios govuk-radios--inline app-!-pull-left">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="vrm-1" type="radio" value="UK" checked>
          <label class="govuk-label govuk-radios__label govuk-!-padding-right-0 govuk-!-padding-left-1"
            for="changed-name"> UK</label>
        </div>
      </div>
      <div class="govuk-radios govuk-radios--inline app-!-pull-left">
        <div class="govuk-radios__item govuk-!-margin-right-0">
          <input class="govuk-radios__input" id="changed-name" name="vrm-1" type="radio" value="Non-UK">
          <label class="govuk-label govuk-radios__label govuk-!-padding-right-0 govuk-!-padding-left-1"
            for="changed-name"> Non-UK</label>
        </div>
      </div>
    </div> -->

    <table class="govuk-table " id="vehicle-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"> Vehicle registration number</th>
          <th scope="col" class="govuk-table__header">Country of registration</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">
            <div class="govuk-form-group govuk-!-margin-bottom-0">
              <input class="govuk-input govuk-input govuk-input--width-20 vrms" id="vrm" name="vrm-1" type="text">
            </div>
          </td>

          <td class="govuk-table__cell">
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item govuk-!-margin-bottom-0">
                <input class="govuk-radios__input" id="changed-name" name="vrm-1" type="radio" value="UK" checked>
                <label class="govuk-label govuk-radios__label govuk-!-padding-right-0 govuk-!-padding-left-1"
                  for="changed-name"> UK</label>
              </div>
              <div class="govuk-radios govuk-radios--inline ">
                <div class="govuk-radios__item govuk-!-margin-right-0">
                  <input class="govuk-radios__input" id="changed-name" name="vrm-1" type="radio" value="Non-UK">
                  <label class="govuk-label govuk-radios__label govuk-!-padding-right-0 govuk-!-padding-left-1"
                    for="changed-name"> Non-UK</label>
                </div>
              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-button-group">
      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button" role="button"
          aria-label="Find a vehicle" onclick="location.href='/lrds/vehcile-details'"  >Find
          your vehicle</button>
      </div>
    </div>

  </div>
</div>




{% include "../../../setup-acct-bottom-container.html" %}

{% endblock %}