{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<main class="govuk-main-wrapper" id="main-content" role="main">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-top-5">
      <div class="govuk-panel govuk-panel--confirmation">

        <h1 class="govuk-panel__title">
          Your account has been created successfully
        </h1>

        <div class="govuk-panel__body">
          Your account number<br><strong>1163425136</strong>
        </div>
        <div class="govuk-panel__body">
          Your reference number<br><strong>759326205</strong>
        </div>
      </div>
      <p>We have sent a confirmation email to johndoe@gmail.com
      </p>
    </div>
    <div class="govuk-grid-column-full govuk-!-margin-top-4">

      <button class="govuk-button touploaddoc" data-module="govuk-button" role="button">Upload documents</button>


    </div>
  </div>
  <a class="govuk-link" href="#" aria-label="Print or download a PDF copy of your payment receipt">Print or download a
    PDF copy of your payment receipt</a>
  </div>
</main>
{% endblock %}