{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "../../../setup-acct-head-container.html" %}
<div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">Local resident discount scheme (LRDS)</h3>
      </div>
    </div>
    
    <p class="govuk-body">
        In order to set up your Dart Charge account, please provide the below information.        
    </p>
  
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="full-name"> Full name </label>
          <input
            class="govuk-input govuk-input--width-20"
            id="full-name"
            name="full-name"
            type="text"
            aria-required="true" value="Alex Lee"
          />
        </div>

  
        <div class="govuk-form-group">
          <label class="govuk-label" for="mobile-no"> Mobile telephone number (optional) </label>
          <input
            class="govuk-input govuk-input--width-20"
            id="mobile-no"
            name="mobile-no"
            type="number"
            aria-required="true"
          />
        </div>
       
        <div class="govuk-form-group">
          <label class="govuk-label" for="landline-no">Evening number (optional) </label>
          <input
            class="govuk-input govuk-input--width-20"
            id="landline-no"
            name="landline-no"
            type="number"
            aria-required="true"
          />
        </div>
  
        <div class="govuk-form-group">
          <label class="govuk-label" for="email"> Email address</label>
          <input
            class="govuk-input govuk-input--width-20"
            id="email"
            name="email"
            type="email"
            aria-required="true" value="jondoe@gmail.com"
          />
        </div>
  
        <div class="govuk-form-group">
          <label class="govuk-label" for="password"> Create password </label>
          <label class="govuk-caption-m govuk-!-margin-bottom-1" > Password constraints placeholder</label>
          <input
            class="govuk-input govuk-input--width-20"
            id="password"
            name="password"
            type="password"
            aria-required="true"
          />
        </div>
  
        <div class="govuk-form-group">
          <label class="govuk-label" for="password-1"> Confirm password </label>
          <input
            class="govuk-input govuk-input--width-20"
            id="password-1"
            name="password-1"
            type="password-1"
            aria-required="true"
          />
        </div>
      </fieldset>
    </div>
    
    <button
      class="govuk-button"
      data-module="govuk-button"
      role="button"
      aria-label="Continue" onclick="location.href='/lrds/vehcile-register'" 
    >
    Continue
    </button>
  </div>
{% include "../../../setup-acct-bottom-container.html" %}
{% endblock %}