{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "../setup-acct-head-container.html" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table govuk-!-margin-top-5">
      <caption class="govuk-table__caption govuk-table__caption--m">
        {% if data['select-account'] === 'business-account' %}
        Your company vehicle
        {% else %}
        Your vehicle 
        {% endif %}
      </caption>
      
      {% for vehicle in vehicleData %}
      <tr class="govuk-table__row">
        <td scope="col" class="govuk-table__header govuk-body "> {{ vehicle.head }}</td>
        <td class="govuk-table__cell  govuk-body {{vehicle.class}}"> {{ vehicle.value }} </td>
      </tr>
      {% endfor %}

    </table>
    {% if data['select-account'] !== 'business-account' %}
    <div class="govuk-body-s govuk-!-margin-bottom-7">
      *Additional vehicles can be added later after creating the account
    </div>
    {% endif %}
    
    <div class="govuk-form-group govuk-button-group" style="float: left;">
      <button class="govuk-button add_vehicle" data-module="govuk-button" role="button" aria-label="Confirm a vehicle"
        >Confirm</button>
        <button class="govuk-button govuk-button--secondary reject_vehicle" data-module="govuk-button" role="button" aria-label="Not my a vehicle"
        >This is not your vehicle</button>
    </div>
  </div>
</div>

{% include "../setup-acct-bottom-container.html" %}
{% endblock %}