{% extends "layout.html" %}

{% block pageTitle %}
  Privacy policy
{% endblock %}

{% block beforeContent %}
{% include "includes/alpha-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Privacy policy</h1>
          <p class="govuk-body">The Dartford Crossing (Dart Charge) is covered by National Highways’ <a href="https://www.gov.uk/government/organisations/nationalhighways.co.uk/about-us/privacy-notice/" class="govuk-link">personal information charter</a> (or privacy policy). It tells you:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>what standards you can expect from us</li>
            <li>how and why we use your personal information</li>
            <li>what rights and responsibilities you have</li>
          </ul>

          <p class="govuk-body">Organisations in Northern Ireland should read the Department for Communities <a href="https://www.communities-ni.gov.uk/your-privacy" class="govuk-link">privacy notice.</a></p>

      </div>
  </div>

{% endblock %}
