{% extends "layout.html" %}

{% block pageTitle %}
Step 3 - Your vehicle
{% endblock %}

{% block beforeContent %}
{% include "includes/alpha-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Step 3 - Your vehicle</h1>
        <fieldset class="govuk-fieldset">
          <h1 class="govuk-heading-l">Is this your vehicle?</h1>


            <form class="form" method="post" action="vehicle-check">

          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Registration number
            </dt>
            <dd class="govuk-summary-list__value">
              LO62 NRO
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type
            </dt>
            <dd class="govuk-summary-list__value">
              Car
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Make
            </dt>
            <dd class="govuk-summary-list__value">
              Vauxhall
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Colour
            </dt>
            <dd class="govuk-summary-list__value">
              Grey
            </dd>
          </div>
        </dl>

{{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "vehicle-check",
              name: "vehicle-check",
              fieldset: {
                legend: {
                  text: "",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No, search again"
                }
              ]
            }) }}



      <!--  <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="vehicle-confirm">
            <div id="vehicle-confirm" class="govuk-hint">
            </div>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes-vehicle-confirm" name="yes-vehicle-confirm" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="yes-vehicle-confirm">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no-vehicle-confirm" name="no-vehicle-confirm" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="no-vehicle-confirm">
                  No, search again
                </label>
              </div>
            </div>
  </fieldset>
</div>-->

      <!--  <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="vehicle-type-car" name="vehicle-type" type="radio" value="Car" {{ checked("vehicle-type", "Car") }}>
                <label class="govuk-label govuk-radios__label" for="vehicle-type-car">
                  Car (with or without trailers),  Motorhomes, Passenger vans, Buses with less than 8 seats
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="vehicle-type-lorry" name="vehicle-type" type="radio" value="Lorry" {{ checked("vehicle-type", "Lorry") }}>
                <label class="govuk-label govuk-radios__label" for="vehicle-type-lorry">
                  Goods vans, including car-based vans without side windows behind the driver.
                  Vans / buses with more than 8 seats in addition to the driver's seat.
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="vehicle-type-motorcycle" name="vehicle-type" type="radio" value="Motorcycle" {{ checked("vehicle-type", "Motorcycle") }}>
                <label class="govuk-label govuk-radios__label" for="vehicle-type-motorcycle">
                  Motorcycle (2 or 3 wheels) or Quadricycle/Quad bikes
                </label>
              </div>
            </div>
          </fieldset>
        </div>-->
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Incorrect vehicle details?
            </span>
          </summary>
          <div class="govuk-details__text">
If your vehicle details are incorrect you may <br>need to <a href='https://www.gov.uk/change-vehicle-details-registration-certificate
'>update them</a>.</div>
        </details>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>
{% endblock %}
