{% extends "layout.html" %}

{% block pageTitle %}
Pre-pay for crossings
{% endblock %}

{% block beforeContent %}
{% include "includes/alpha-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="account-confirmation" method="post">
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Step 4 - your payment</h1>
          <fieldset class="govuk-fieldset">
            <h1 class="govuk-heading-l">Register your card</h1>
            <fieldset class="govuk-fieldset">
              <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                </label>

  <p aria-label="Minimal Payment" class="govuk-body">
    Add a debit card to your account and we will collect payment when you make a crossing. You will need to check your crossings to make sure the correct payment has been taken.
  </p>
  </div>


<div class="govuk-form-group ">
<label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold " for="amount">Payment amount</label>

<div class="govuk-input__wrapper govuk-grid-column-two-third">
 <div class="govuk-input__prefix govuk-!-font-weight-bold" aria-hidden="true">£</div>
  <input class="govuk-input govuk-!-font-weight-bold govuk-input--width-5" id="amount" name="amount" value="10.00" type="number" aria-describedby="amount" spellcheck="false">
</div>

<div class="govuk-!-margin-top-8">

                {% include "includes/payment-info-debitonly.html" %}

              <!--    <button class="govuk-button" data-module="govuk-button">Continue</button>
-->

                          </div>




      </form>

    </div>
  </div>

{% endblock %}
