{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% include "../setup-acct-head-container.html" %}

<div class="govuk-form-group">
  <form action="" method="post">
    <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
      <div class="govuk-radios">
        <div class="govuk-radios__item govuk-!-margin-bottom-4">
          <input
            class="govuk-radios__input"
            id="personal-account"
            name="select-account"
            type="radio"
            value="perosnal-account"
            aria-describedby="personal-account-item-hint"
          />
          <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="personal-account">
            Personal account
          </label>
          <div class="govuk-!-margin-left-3" id="personal-account-hint" style="display: none"><p class="govuk-!-margin-bottom-1">To create personal account you will need</p>
            <ul class="govuk-radios__list govuk-!-margin-top-1" >
              <li>Vehicle registration number you are registering</li>
              <li>A debit or credit card</li>
            </ul>
            
            
          </div>
        </div>
        <div class="govuk-radios__item govuk-!-margin-bottom-7">
          <input
            class="govuk-radios__input"
            id="business-account"
            name="select-account"
            type="radio"
            value="business-account"
            aria-describedby="business-account-item-hint"
          />
          <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="business-account">
            Business account
          </label>
          <div class="govuk-!-margin-left-3" id="business-account-hint" style="display: none"><p class="govuk-!-margin-bottom-1">To create business account you will need</p>
            <ul class="govuk-radios__list govuk-!-margin-top-1" >
              <li>Your company name and registration number</li>
              <li>A debit or credit card</li>
            </ul>
          </div>
        </div>
      </div>
    </fieldset>
  
    <button
      class="govuk-button account-type"
      data-module="govuk-button"
      role="button"
      disabled
    >
    Continue
    </button>
  </form>
  </div>
  
{% include "../setup-acct-bottom-container.html" %}
{% endblock %}