{% extends "layout.html" %}

{% block pageTitle %}
Payment confirmation
{% endblock %}

{% block beforeContent %}
{% include "includes/alpha-banner.html" %}

{% endblock %}

{% block content %}
<style>
    .sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  }
</style>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Payment received by Dartford <br>crossing
          </h1>
          <div class="govuk-panel__body">
            Your Payment reference: <br><strong>HDJ2123F</strong>
          </div>
        </div>
  
        <p class="govuk-body">We have sent a confirmation email to <span id="email">sandraphilips@email.com</span>  with confirmation of details of the relevant penalty charge notices (PCN).</p>
        <table class="govuk-table">
          <tbody id="tbody" class="govuk-table__body">

          </tbody>
        </table>
        <p class="govuk-body">These <span aria-hidden="true" title="Penalty charge notice">PCN</span> <span class="sr-only" >Penalty charge notice</span>s are now cancelled and no further action needs to be taken on them</p>
        <p class="govuk-body"><a href="javascript:void(0);">Print or download a PDF copy of your payment receipt</a></p>
  

          <h3 class = "govuk-heading-m">Manage Dart Charge payments</h3>

            <ul class="govuk-list">Don't forget to you can use Dart Charge</a>  to:
                <li>
                <a class="govuk-link" href="../create-account/create-start">set up an account</a>
                </li>
                <li>
                <a class="govuk-link" href="../one-off-payment/pay-crossing">make a single payment</a>
                </li>
                <li>
                <a class="govuk-link" href="../manage-account/dashboard-summary">check your payments</a>
                </li>

            </ul>

          </div>
      </div>
      <div class="govuk-grid-column-one-third">
  
      </div>
  
  
</div>
  

  



<script>
    let roper = JSON.parse(localStorage.getItem("pcnDetailsTable"));
    let cardEntriesPCN = JSON.parse(localStorage.getItem("cardEntriesPCN"));
</script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script>
        let vandal = []
        if (typeof(roper[0])=="string"){
                vandal.push(roper)
        }else if(typeof(roper[0])=="object"){vandal=roper}
        let chargeCummulator = 0
        let pcns ="";
        for (i=0; i<vandal.length; i++){
          pcns += `${vandal[i][5]} <br>`
          chargeCummulator += parseInt(vandal[i][11].split('£')[1]);

        }
        $(document).ready(function(){
        let email = document.getElementById("email")
        let container = document.getElementById("tbody")
        let hamant = document.querySelector("#tbody > tr:nth-child(4) > td")
        let fieldHTML = `
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Number plate</th>
              <td class="govuk-table__cell">${vandal[0][0]}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date</th>
              <td class="govuk-table__cell">10 August 2021</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><span aria-hidden="true" title="Penalty charge notice">PCN</span> <span class="sr-only" >Penalty charge notice</span> number</th>
              <td class="govuk-table__cell">${pcns}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Amount</th>
              <td class="govuk-table__cell">£${chargeCummulator}</td>
            </tr>`
        container.innerHTML += fieldHTML;
        email.innerHTML = cardEntriesPCN[6]
        hamant.innerHTML = `£${chargeCummulator}`
      })
</script>
{% endblock %}
