{% extends "layout.html" %}

{% block pageTitle %}
Vehicle details
{% endblock %}

{% block beforeContent %}
{% include "includes/alpha-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<style>
    .sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  }
</style>
        <div title="Error" class="govuk-error-summary govuk-!-display-none" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list" id="errorSumList">
                
              </ul>
            </div>
        </div>
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full"><h1 class="govuk-caption-l govuk-!-margin-bottom-1 govuk-!-margin-top-0">Pay or challenge a penalty charge notice (PCN)</h1>
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-5" style="padding: 0; border: 0;">Your vehicle details</h1></div>
            </div>
            
              <div class="govuk-grid-row">
                
                <div class="govuk-grid-column-three-quarters">
                  
                    
                  
                  <p class="govuk-body">Check that the information below is correct.</p>
                  <table class="govuk-table">  
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Registration number</th>
                        <td id="reg" class="govuk-table__cell">L069NR0</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Vehicle type</th>
                        <td id="cla" class="govuk-table__cell">Car</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Make</th>
                        <td id="make" class="govuk-table__cell">Audi</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Model</th>
                        <td id="model" class="govuk-table__cell">TT FSI</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Colour</th>
                        <td id="color" class="govuk-table__cell">Black</td>
                      </tr>                                          
                    </tbody>
                  </table>
                  <a href="flow1"><button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float:right;">
                    This is not your vehicle
                  </button></a>
                  <br><br><br><br><br>
                  <h1 class="govuk-heading-s">Penalty charge notices</h1>
                  <p>There <span id="grammar1">are</span> <span id="pcns">2</span> Penalty charge notice<span id="grammar2">s</span> (PCN) connected to this vehicle.</p> 
                  <p>If you have received a letter regarding this charge then please enter any <span aria-hidden="true" title="Penalty charge notice">PCN</span> <span class="sr-only" >Penalty charge notice</span> number to see a list of all PCN numbers connected to this vehicle.</p>
                  <p>Your <span aria-hidden="true" title="Penalty charge notice">PCN</span> <span class="sr-only" >Penalty charge notice</span> number will look like this: <b>IB<span x-ms-format-detection="none">09392834</span> </b></p>
                  
                    
                    <div class="field_wrapper3">
                      <div class="govuk-grid-row" id="firstPCN">
                            <div class="govuk-grid-column-two-thirds field_wrapper">
                                    <div id="wrapper1" class= "govuk-form-group govuk-!-margin-bottom-3 groupie">
                                            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="pcn">
                                                <span aria-hidden="true" title="Penalty charge notice">PCN</span> <span class="sr-only" >Penalty charge notice</span> Number
                                              </label>
                                            </h1>
                                            <span id="pcnError1" class="govuk-error-message govuk-!-display-none pcnError">
                                              <span class="govuk-visually-hidden">Error:</span> Your PCN number begins with 2 letters followed by 8 numbers, to continue please make sure you enter the entire number correctly.
                                            </span>
                                            <input style="text-transform: uppercase;" class="govuk-input pcn" id="pcn1" name="pcn" type="text">
                                            <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
                                              <summary class="govuk-details__summary">
                                                <span class="govuk-details__summary-text">
                                                  Where to find your PCN number
                                                </span>
                                              </summary>
                                              <div class="govuk-details__text">
                                                You can find the PCN number at the top of the first page of the PCN you were sent in the post. It starts with the letters ‘IA’, ‘IB’ or ‘IK’.
                                                <img class="govuk-!-margin-top-2" style="max-width: 100%;" src="\public\images\yourPCN.png" alt="PCN screenshot">
                                              </div>
                                              
                                            </details>
                                          </div>  
                            </div>
                      </div>
                    </div>
                      <!-- <div class="govuk-grid-row" name="newPCN">
                        <div class="govuk-grid-column-one-half ">
                                <div class="govuk-form-group govuk-!-margin-bottom-0">
                                        <input class="govuk-input" id="event-name" name="event-name" type="text" placeholder="e.g IB 09392834">
                                 </div>                                
                        </div>
                        <div class="govuk-grid-column-one-quarter ">
                          <div class="govuk-form-group ">
                                 <p><a href="javascript:void(0);" class="remove_button">Delete</a></p>
                                </div>                          
                        </div>  
                        </div> -->
                        <!-- "<div class=\"govuk-grid-row\" name=\"newPCN\"><div class=\"govuk-grid-column-one-half\"><div class=\"govuk-form-group govuk-!-margin-bottom-0\"><input class=\"govuk-input\" id=\"event-name\" name=\"event-name\" type=\"text\" placeholder=\"e.g IB 09392834\"></div></div><div class=\"govuk-grid-column-one-quarter\"><div class=\"govuk-form-group \"><p><a href=\"javascript:void(0);\" class=\"remove_button\">Delete</a></p></div></div></div>"; -->
                        
                      <div class="govuk-!-display-inline govuk-button-group govuk-!-margin-top-0 govuk-!-margin-bottom-3 govuk-!-width-one-half">
                        <!-- <a href="flow4"> -->
                        
                        
                        <!-- </a> -->
                        <a id="nextPage" class="govuk-link govuk-!-width-one-quarter govuk-!-margin-top-0 govuk-!-margin-right-0 govuk-!-margin-bottom-0" href="flow4">  
                          <button data-prevent-double-click="true" id="confirm"  class="govuk-button govuk-!-width-full" data-module="govuk-button" type= submit value="Click">
                            Confirm
                          </button></a>
                        <!-- <a id="newpCNs" class="govuk-link govuk-!-width-one-quarter govuk-!-margin-top-0 govuk-!-margin-left-0 govuk-!-margin-bottom-0" href="javascript:void(0)">
                        <button class="govuk-button govuk-button--secondary govuk-!-margin-right-0 govuk-!-margin-bottom-2" id="addButton" onclick="addCode()">
                           Add another <span aria-hidden="true" title="Penalty charge notice">PCN</span> <span class="sr-only" >Penalty charge notice</span>
                        </button></div></a> -->
                        
                        <!-- </a> -->
               
                      
                          <!-- <p>If you have not received your <span aria-hidden="true" title="Penalty charge notice">PCN</span> <span class="sr-only" >Penalty charge notice</span> letter, enter your email address below and a digital copy will be sent to you</p> -->
                                
                                <!-- <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-two-thirds">
                                                <div id=emailSubmit class="govuk-form-group">
                                                        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
                                                            Email address 
                                                          </label>
                                                        </h1>
                                                        <div id="event-name-hint" class="govuk-hint">
                                                          We'll use this to send your <span aria-hidden="true" title="Penalty charge notice">PCN</span> <span class="sr-only" >Penalty charge notice</span>s via email
                                                        </div>
                                                        <input class="govuk-input" id="event-name" name="event-name" type="text">
                                                      </div>  
                                        </div>
                                  </div> -->
                                  <!-- <button onclick="window.location.href='flow18'" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                        Send
                                      </button> -->
                    </div>  
                </div>        
              </div>
        </div>        
   



<script src="/public/javascripts/jquery-1.11.3.js"></script>

<script type="text/javascript">
  var chosenFull = JSON.parse(localStorage.getItem("chosenCarfull"));
  $(document).ready(function() {
  
  var chosen = JSON.parse(localStorage.getItem("chosenCar"));
  $("#reg").html(chosen[0]) ; 
  $("#cla").html(chosen[1]);  
  $("#make").html(chosen[2]);  
  $("#model").html(chosen[3]);  
  $("#color").html(chosen[4]);
  $("#pcns").html(chosenFull[0].penalties.length);

  if ((chosenFull[0].penalties.length >1)||(chosenFull[0].penalties.length<1)){
    $("#grammar1").html("are");  
    $("#grammar2").html("s");
  }
  else {
    $("#grammar1").html("is");  
    $("#grammar2").html("");
    $("#grammar3").html("It is on its way");
    $("#grammar4").html("it.");

  }
 
 
 

  })
  // this is where pcn fields related to the selected number plate are extricated
  // let brunga = []
  // for (i=0; i<chosenFull[0].penalties.length; i++) {
  // brunga.push(chosenFull[0].penalties[i].pcn)
  // }
  
</script>
<script type="text/javascript">
    $(document).ready(function(){
        var maxField = 5; //Input fields increment limitation
        var addButton = $('#addButton'); //Add button selector
        var wrapper = $('.field_wrapper'); //Input field wrapper
   //New input field html 
        var x = 1; //Initial field counter is 1
        
        //Once add button is clicked
        $(addButton).click(function(){
            //Check maximum number of input fields
            if(x < maxField){ 
                x++; //Increment field counter
                var fieldHTML = `<div id="wrapper${x}" class="govuk-form-group govuk-!-margin-bottom-0 groupie"><span id="pcnError${x}" class="govuk-error-message govuk-!-display-none pcnError"><span class="govuk-visually-hidden">Error:</span> Your PCN number begins with 2 letters followed by 8 numbers, to continue please make sure you enter the entire number correctly.</span><input style="text-transform: uppercase;"class="govuk-input pcn" id="pcn${x}" name="pcn" type="text"><p><a href="javascript:void(0);" class="remove_button">Delete</a></p></div>`;
                $(wrapper).append(fieldHTML); //Add field html
            }
        });
  
  
  
        //Once remove button is clicked
        $(wrapper).on('click', '.remove_button', function(e){
            e.preventDefault();
            $(this).parent().parent().remove(); //Remove field html
            x--; //Decrement field counter
        });
    });
    </script>
        <script>
           
      function validateInput (){
        let pcnEntries = document.querySelectorAll(".pcn")
        let errorSumLink =`<li>
                  <a href="#wrapper1">Check your PCN number.</a>
                 
                </li>`
                // <a href="#wrapper1">Enter a valid PCN number, like IB 50000001</a>
        let errorSumList = document.getElementById("errorSumList")
        let errorSummary = document.querySelector(".govuk-error-summary")
        // const errorSpan = `<span id="pcnError${i}" class="govuk-error-message pcnError"><span class="govuk-visually-hidden">Error:</span> Enter a valid PCN number</span>`
        let pcnError = document.querySelectorAll(".pcnError")
        errorSumList.innerHTML=""
        
        if (pcnEntries[j].value.trim()===""||pcnEntries[j].value.trim().length!=10){
          event.preventDefault()
          
          errorSummary.classList.remove("govuk-!-display-none")
          // regField.setAttribute("value", "Invalid VRN")
          // pcnEntries[i].insertAdjacentHTML("beforebegin", errorSpan)
          pcnEntries[j].setAttribute("aria-describedby", "reg_field-error")
          pcnEntries[j].classList.add("govuk-input--error")
          pcnEntries[j].parentElement.classList.add("govuk-form-group--error")
          errorSumList.innerHTML+=errorSumLink
          pcnError[j].classList.remove("govuk-!-display-none")
          errorSummary.focus()
          
        }
      }
      let nextPage = document.getElementById('nextPage');
      nextPage.addEventListener("click", function(event){
        let pcnEntries = document.querySelectorAll(".pcn")
         
       for (let j=0; j<document.getElementsByName('pcn').length; j++){
         
        let errorSumLink =`<li>
                  <a href="#wrapper1">Check your PCN number.</a></li>`
        let errorSumList = document.getElementById("errorSumList")
        let errorSummary = document.querySelector(".govuk-error-summary")
        // const errorSpan = `<span id="pcnError${i}" class="govuk-error-message pcnError"><span class="govuk-visually-hidden">Error:</span> Enter a valid PCN number</span>`
        let pcnError = document.querySelectorAll(".pcnError")
        errorSumList.innerHTML=""
        
       
        if (pcnEntries[j].value.trim().length>0 && pcnEntries[j].value.trim().length<10 || pcnEntries[j].value.trim().length>10){
          event.preventDefault()
          
          errorSummary.classList.remove("govuk-!-display-none")
          // regField.setAttribute("value", "Invalid VRN")
          // pcnEntries[i].insertAdjacentHTML("beforebegin", errorSpan)
          pcnEntries[j].setAttribute("aria-describedby", "reg_field-error")
          pcnEntries[j].classList.add("govuk-input--error")
          pcnEntries[j].parentElement.classList.add("govuk-form-group--error")
          errorSumList.innerHTML+=errorSumLink
          pcnError[j].classList.remove("govuk-!-display-none")
          errorSummary.focus()
          
        }
       }
     })
  
          let confirmBtn = document.getElementById("confirm");
         
         
     // code to generate array of pcns from the available of the five input fields in the Vehicles page
       
     let brunga = []
    for (i=0; i<chosenFull[0].penalties.length; i++) {
    brunga.push(chosenFull[0].penalties[i].pcn)
    
    }
     confirmBtn.addEventListener("mouseover", function(event){
      
    console.log(brunga)
    console.log(brunga.includes(document.getElementById('pcn1').value.toUpperCase()))
      let pcn_fields = [];
      if (document.querySelectorAll(".pcn")[0].value.trim()===""){
          // pcn_fields = ['IB20000001', 'IB20000002']
          pcn_fields = brunga
          localStorage.setItem("pcn_fields", JSON.stringify(pcn_fields));
        }
        if (brunga.includes(document.getElementById('pcn1').value.toUpperCase())){
          pcn_fields = brunga
          localStorage.setItem("pcn_fields", JSON.stringify(pcn_fields));
        }
          for (i=0; i<document.getElementsByName('pcn').length; i++){
            // conditions for validation of pcn fields
          // validateInput();
           if (document.getElementsByName('pcn')[i].value != "" && document.getElementsByName('pcn')[i].value.length==10){
            document.querySelectorAll(".pcnError")[i].classList.add("govuk-!-display-none")
            document.querySelectorAll(".pcn")[i].parentElement.classList.remove("govuk-form-group--error")
            document.querySelectorAll(".pcn")[i].classList.remove("govuk-input--error")
            document.querySelectorAll(".pcn")[i].removeAttribute("aria-describedby", "reg_field-error")
          //  pcn_fields.push(document.getElementsByName('pcn')[i].value.toUpperCase());
          pcn_fields=brunga
           localStorage.setItem("pcn_fields", JSON.stringify(pcn_fields));
       }
       }
       })
       </script>
   

{% endblock %}
