{% extends "layout.html" %}

{% block pageTitle %}
Dart Charge - Charges and Fines
{% endblock %}

{% block beforeContent %}
  {% include "includes/alpha-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-padding-top-1 govuk-!-margin-bottom-6">
        Understanding charges, discounts and penalties
      </h1>

      <p>Contents</p>
      <p>
      — <a href="#cars">Cars, motorhomes and minibuses</a><br>
      — <a href="#hgvs">Goods vehicles, buses, coaches and vans</a><br>
      — <a href="#no-charge">No charge</a><br>
      — <a href="#lrds">Local resident discount</a><br>
      — <a href="#fines">Penalty charge notices</a>
    </p>

      <p>You can <a href="#">check the charge for a particular vehicle</a> by entering its number plate.</p>

            <h2 id="cars" class="govuk-heading-l">
              Cars, motorhomes and minibuses
            </h2>

            <p>This includes cars with trailers. It only includes minibuses that have 9 or fewer seats (including the driver’s seat).</p>

            <p>The cost is:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>£2.50 as a one-off payment</li>
              <li>£2.00 if you have a pre-pay account</li>
            </ul>

            <h2 id="hgvs" class="govuk-heading-l">
              Goods vehicles, buses, coaches and vans
            </h2>

            <p>If the vehicle has 2 axles, the cost is:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>£3.00 as a one-off payment</li>
              <li>£2.63 if you have a pre-pay account</li>
            </ul>

            <p>If the vehicle has more than 2 axles, the cost is:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>£6.00 as a one-off payment</li>
              <li>£5.19 if you have a pre-pay account</li>
            </ul>

            {{ govukDetails({
              summaryText: "How to determine the number of axles",
              text: "Lift axles (also called retractable axles or droppable axles) can be raised so that the tyres are not touching the road. Count these whether they’re up or down. Only count trailer axles for articulated vehicles."
            }) }}

      <h2 id="no-charge" class="govuk-heading-l">
        No charge
      </h2>

      <p>There is no charge if you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>drive a motorcycle, moped or quad bike</li>
        <li>use the crossing at night, from 10pm to 6am</li>
        <li><a href="https://www.gov.uk/get-vehicle-tax-exemption-disability">get free UK vehicle tax because of a disability</a> (your vehicle will be checked automatically when you cross - you do not need to do anything)</li>
      </ul>

      <h2 id="lrds" class="govuk-heading-l">
        Local resident discount
      </h2>

      <p>If you pay council tax to Dartford Borough Council or Thurrock Council you can get the local resident discount. The annual cost is either:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>£20.00 for as many crossings as you want</li>
        <li>£10.00 for up to 50 crossings (you can then pay another £10 for as many further crossings as you want)</li>
      </ul>

      <p>Find your <a href="https://www.gov.uk/find-local-council">local council</a>.</p>

      <h2 id="fines" class="govuk-heading-l">
        Penalty charge notices
      </h2>

      <p>You will get a penalty charge notice (PCN) if you do not pay the crossing charge. You must pay the penalty charge within 28 days. This is:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>£35 if paid within 14 days</li>
        <li>£70 if paid within 28 days</li>
      </ul>

      <p>You'll need to pay the crossing charge as well as the penalty charge.</p>

      <p>You can <a href="#">pay or challenge the penalty charge online</a> or call the <a href="start#contactdartcharge">Dart Charge contact centre</a>.</p>

      {{ govukWarningText({
        text: "After 28 days the charge will increase to £105. If you continue to not pay, you may end up with a court order against you. Bailiffs (enforcement agents) may also be told to visit your home to collect what you owe.",
        iconFallbackText: "Warning"
      }) }}

      <p>Find out more about dealing with <a href="https://www.gov.uk/parking-tickets#penalty-charge-notice-pcn">penalty charge notices</a>.</p>

    </div>
    <div class="govuk-grid-column-one-third ">
    </div>
</div>

{% endblock %}
