{% extends "layout.html" %}

{% block pageTitle %}
Confirm payment
{% endblock %}

{% block beforeContent %}
{% include "includes/alpha-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-6">
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Pay the Dartford Crossing charge (Dart Charge)</h1>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Make a one off payment</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">Confirm your payment</h3>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Card number</th>
                        <th scope="col" class="govuk-table__cell">**** **** **** 9511</th>
                        <th scope="col" class="govuk-table__cell govuk-table__cell--numeric"> <a class="govuk-link" href="#">Change</a> </th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Expiry date</th>
                        <td class="govuk-table__cell">26 Sep 2021</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">Change</a></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Name on card</th>
                        <td class="govuk-table__cell">John Doe</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">Change</a></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Registration number</th>
                        <td class="govuk-table__cell">LO62 NRO</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">Change</a></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Email address</th>
                        <td class="govuk-table__cell">johndoe@gmail.com</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">Change</a></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="govuk-inset-text govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-!-margin-top-0 govuk-!-margin-bottom-4">
            <h3 class="govuk-body-xl govuk-!-margin-top-0 govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">Payment amount</h3>
            <h1 id="chargeAmount" class="govuk-body-xl govuk-!-margin-bottom-0 govuk-!-padding-bottom-0 govuk-!-padding-top-0 govuk-!-margin-top-0">£5.00</h1>
        </div>

        <a href="success"
          class="govuk-button"
          data-module="govuk-button"
          role="button"
        >
        Pay now
    </a>

    </div>
</div>


{% endblock %}
