{% extends "prototype-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-6">
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Make a one off payment</h1>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Are you trying to make a late payment?</h1>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <span class="govuk-warning-text__text govuk-!-font-weight-regular">
                <span class="govuk-warning-text__assistive">Warning</span>
                Please check if there is a PCN assigned to your vehicle, Select continue
            </span>
        </div>
        <a href="https://dartford-crossing-charge.herokuapp.com/demo/flow1" class="govuk-button govuk-link--no-underline" data-module="govuk-button" role="button" aria-label="continue to PCN">Continue</a>

    </div>
</div>



{% endblock %}    