{% extends "layout.html" %}

{% block pageTitle %}
Payment successfull
{% endblock %}

{% block beforeContent %}
{% include "includes/alpha-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


<!--<a href="/home" style="cursor: pointer;" class="govuk-back-link">Home</a>-->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-top-5">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Payment successful
            </h1>
            <div class="govuk-panel__body">
                Your payment reference number<br><strong>725548253</strong>
            </div>
        </div>
        <p>We've sent a confirmation email to johndoe@gmail.com</p>
        <table class="govuk-table govuk-!-margin-bottom-2">
            <tbody class="govuk-table__body">
                <!-- <tr class="govuk-table__row">
                    {% if data['vrm-1'] | length%}
                    <th scope="row" class="govuk-table__header">Registration numbers</th>
                    {%else%}
                    <th scope="row" class="govuk-table__header">
                        <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    Registration numbers
                                </span>
                            </summary>
                             <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">NA62ROP</p>
                            <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">LO63NRO</p>
                            <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">MN62NRO</p>
                            <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">LO62NRO</p>
                            <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">GJ71KRO</p>
                            <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">LO6ANBG</p>
                            <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">CK16NRH</p> -->
                        <!-- </details>
                    </th>
                    {% endif %}
                    {% if data['vrm-1'] | length%}
                    <td class="govuk-table__cell">
                        {% for i, vrm in data %}
                        {% if (loop.index > 0) %}
                        <span class="govuk-caption-l">
                            {{data['vrm-' + loop.index][0]}}
                        </span>
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% else %}
                    <td class="govuk-table__cell">
                        5 Vehicles
                    </td>
                    {%endif%}
                </tr> -->
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Number plate</th>
                    <td class="govuk-table__cell">{{data['vrn']}}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date</th>
                    <td class="govuk-table__cell">26 Aug 2021</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Number of recent crossings</th>
                    <td class="govuk-table__cell">{{data['krosCount']}}</td>
                </tr>
                <!--<tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Number of future crossings</th>
                    <td class="govuk-table__cell">{% if data['sortCrossB'] %}{{data['sortCrossB']}}{% elif not data['sortCrossB'] %}0{%endif%}</td>
                </tr>-->
                {% if data['sortCrossB'] %}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Number of future crossings</th>
                    <td class="govuk-table__cell">{{data['sortCrossB']}}</td>
                </tr>
                {%endif%}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Amount</th>
                    <td class="govuk-table__cell">{% if data['sortCrossB'] %}£{{((data['krosCount'] | float + data['sortCrossB'] | float)*2.50).toFixed(2)}} {% elif not data['sortCrossB'] %}£{{((data['krosCount'] | float)*2.50).toFixed(2)}}{%endif%}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Payments for future crossings are valid for 12 months from purchase. </p>
        <div class="govuk-inset-text" id="notifOptInset">
            {{data['notifOptMssg']|safe}}
          </div>
        <a class="govuk-link" href="#" aria-label="Print or download a PDF copy of your payment receipt">Print or
            download your payment receipt</a><br><br>
        <h3 class = "govuk-heading-m">Create a Dart Charge account</h3>
        <p class = "govuk-body">If you make regular crossings we recommend <a href =#>creating an account.</a> Payments for crossings are then taken automatically. With a pre-pay account you’ll also get a discount of up to 20% on all crossings.</p>
        <p>If you live in Dartford or Thurrock you may qualify for the  <a href =#>local resident discount</a>.</p>
        <!-- {% if data.vrm === 'LO61 NRO' %}
        <div class="govuk-warning-text govuk-!-margin-top-7">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                {{data['vrm-1']}} has 1 Penalty charge notice (PCN) to resolve.
            </strong>
        </div>
        <p class="govuk-body">Do not ignore your PCN. Resolve a PCN before the due date to prevent any addiotional
            changes</p>
        <div class="govuk-button-group govuk-!-margin-top-3">
            <button onClick="location.href='https://dartford-crossing-charge.herokuapp.com/demo/flow1'"
                class="govuk-button" aria-label="Next">Resolve PCN</button>
        </div>
        {% else %}
        <p class="govuk-!-margin-top-7">You can create an account based on the details already provided or setup
            notifications for when you make the crossing.</p>

        <div class="govuk-heading-m">What would you like to do next?</div>
        <div class="govuk-radios govuk-!-margin-bottom-3">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="create-account" name="successnextoption" type="radio"
                    value="create-account">
                <label class="govuk-label govuk-radios__label" for="create-account">
                    Create an account with the details already provided.
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="vrm-notifi" name="successnextoption" type="radio"
                    value="vrm-notifi">
                <label class="govuk-label govuk-radios__label" for="vrm-notifi">
                    Receive notifications of crossings made by the registered vehicle.
                </label>
            </div>
        </div>

        <div class="govuk-button-group successNxt govuk-!-margin-top-5">
            <input data-module="govuk-button" class="govuk-button" value="Continue" type="submit" role="button"
                aria-label="Next" />
        </div>

        <p class="govuk-body govuk-!-margin-top-7">You can <a href="javascript:void(0)">make another payment</a> or
            close the window to
            finish.</p>
        {% if data['vrm-1'] | length%}
        <div class="govuk-button-group successNxt govuk-!-margin-top-3"> -->
            <!-- <a href="#" class="govuk-button" aria-label="Next">Make another payment</a> -->
        </div>
        <!-- {%endif%}
        {% endif %} -->


    </div>
</div>


{% endblock %}
