{% extends "layout.html" %}

{% block pageTitle %}
Enter your email
{% endblock %}


{% block beforeContent %}
{% include "includes/alpha-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="verify" method="post">
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Step 4 - your account</h1>
          <fieldset class="govuk-fieldset">
            <h1 class="govuk-heading-l">Enter your email address</h1>
              <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                </label>

                <div id="email-hint" class="govuk-hint">
                  Enter the email address you want to create your account. </div>
                <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
              </div>

  <button class="govuk-button" data-module="govuk-button">Continue</button>
  <!--<p class='govuk-body'><a href='#'>Resend verification</a></p>-->





      </form>

    </div>
  </div>

{% endblock %}
