{% extends "layout.html" %}

{% block pageTitle %}
Step 4 - Pre-pay for crossings
{% endblock %}

{% block beforeContent %}
{% include "includes/alpha-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="check-answers" method="post">
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Your payment</h1>
          <fieldset class="govuk-fieldset">
            <h1 class="govuk-heading-l">How do you want to add funds?</h1>
            <fieldset class="govuk-fieldset">
              <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                </label>

  <p aria-label="Minimal Payment" class="govuk-body">
    You need to make an initial minimum deposit amount of £10 to open your account. If you want to pay by direct debit you will have to make a bank transfer for the initial amount.
  </p>
  </div>

<div class="govuk-form-group">
<label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold " for="amount">Payment amount</label>

<div class="govuk-input__wrapper govuk-grid-column-two-third">
 <div class="govuk-input__prefix govuk-!-font-weight-bold" aria-hidden="true">£</div>
  <input class="govuk-input govuk-!-font-weight-bold govuk-input--width-5" id="amount" name="amount" value="10.00" type="number" aria-describedby="amount" spellcheck="false">
</div>

<div class="govuk-!-margin-top-8">

                {% include "includes/payment-info-new.html" %}

              <!--    <button class="govuk-button" data-module="govuk-button">Continue</button>
-->

                          </div>




      </form>

    </div>
  </div>

{% endblock %}
