{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "./one-off-payment-body-head.html" %}
  
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds error-summary" style="display: none; margin-bottom:-60px">
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#">Enter a valid email address</a>
            </li>
          </ul>
        </div>
      </div>
      </div>

  <div class="govuk-grid-column-full govuk-!-margin-top-6">
    <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Pay the Dartford Crossing charge (Dart Charge)</h1>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Make a one off payment</h1>
  </div>
</div>


<div class="govuk-grid-row">

    <div class="govuk-grid-column-full ">

    

    <h5 class="govuk-heading-m govuk-!-margin-top-3"> Where do you want your receipt sent?</h5>
    <div class="govuk-form-group select-box">
      <label class="govuk-label" for="receipt">
          <select class="govuk-select" id="sort" name="receipt" style="width: 388px;">
              <option value="1" selected>Email address</option>
              <option value="2">Mobile number</option>
              <option value="3">Mail</option>
          </select></label>
    </div>

    <div class="govuk-form-group">
        <label class="govuk-label" for="email address"> Email address </label>
        <span class="govuk-error-message email-error" style="display: none">
            <span class="govuk-visually-hidden">Error:</span> Enter a valid email address
          </span>
        <input class="govuk-input  govuk-input--width-20 email-address" id="email address" name="email" type="text"
            aria-required="true" aria-label="enter your email address"  />
    </div>
    <div class="govuk-form-group">
        <label class="govuk-label" for="confirm email address"> Confirm email address </label>
        <span class="govuk-error-message email-error" style="display: none">
            <span class="govuk-visually-hidden">Error:</span> Confirm a valid email address
          </span>
        <input class="govuk-input govuk-input--width-20 email-address" id="confirm email address" name="confirm-email" type="text"
            aria-required="true" aria-label="confirm your email address"  />
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="payment reminder" name="payment reminder" type="checkbox"
                value="payment reminder" checked>
            <label class="govuk-label govuk-checkboxes__label" for="payment reminder">
                I accept the terms and conditions
            </label>
        </div>
    </div>
    <p class="govuk-!-margin-top-2 govuk-body-s"><a href="#" >Read terms and conditions</a></p>
    <div class="govuk-button-group govuk-!-margin-top-6">
        <button class="govuk-button proceed-to-pay" data-module="govuk-button" role="button" aria-label="paytrips">Proceed to payment</button>
    </div>

</div>
</div>

{% endblock %} 