{% extends "layout-dashboard.html" %}

{% block pageTitle %}
  Enter your email
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% include "includes/header-summary-users.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="#" method="post">
      <h1 class="govuk-heading-l">Account Summary</h1>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Your balance</h3>
            <p class="govuk-!-font-size-48 govuk-!-font-weight-regular balance">
              £ 14.00
              <a href="dashboard/top-up" data-module="govuk-button" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-0">Top-up</a>
            </p>

  <!--<div class="app-!-dashboard-card-container">
    <div class="app-!-dashboard-card-heading">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Notification</h3>
    </div>
    <a href="/dashboard/notification" class="govuk-link govuk-link--no-visited-state">View all (2)</a>
  </div>-->
  <div class="govuk-inset-text govuk-!-margin-top-3">
    <p>Card <strong>**** **** 4567</strong> will expire in 22 days. <a href="#" class="govuk-link govuk-link--no-visited-state">Update card</a>
     </p>
  </div>
  <!-- <div class="govuk-inset-text">
    <div class="govuk-warning-text govuk-!-margin-bottom-2">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <div class="govuk-warning-text__text govuk-!-font-weight-regular">
        <span class="govuk-warning-text__assistive">Warning</span>
        Please take the necessary action to reactivate your account.
      </div>
    </div>
    <ul class="govuk-list govuk-list--bullet">
      <li>LO62 NRO has 1 PCN and 1 unpaid crossings. <a href="#" class="govuk-link govuk-link--no-visited-state">Resolve a penalty charge notice</a></li>
      <li>Card has expired. <a href="https://dartford-crossing-charge.herokuapp.com/demo/flow1" class="govuk-link govuk-link--no-visited-state">Update card</a></li>
    </ul>
  </div> -->


  <h3 class="govuk-heading-m govuk-!-margin-bottom-1 govuk-!-margin-top-7">Your crossings</h3>
  <div class="app-!-dashboard-card-container govuk-!-margin-bottom-4">
    <div class="app-!-dashboard-card-heading ">
        <h3 class="govuk-heading-xl govuk-!-font-weight-regular govuk-!-margin-bottom-0">10 <span class="govuk-body">Average crossings/month</span></h3>
    </div>
    <div class="govuk-!-margin-top-4"><a class="govuk-link govuk-body govuk-link--no-visited-state" role="link"  href="/dashboard/crossings" >View crossings history</a></div>
  </div>

  <div class="app-!-table-scroll">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Crossings ID</th>
          <th scope="col" class="govuk-table__header">Crossings date</th>
          <th scope="col" class="govuk-table__header">Time</th>
          <th scope="col" class="govuk-table__header">Direction</th>
          <th scope="col" class="govuk-table__header">Vehicle</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">CR-02AU21-12-34</a></td>
          <td class="govuk-table__cell">02 Aug 2021</td>
          <td class="govuk-table__cell">12.34</td>
          <td class="govuk-table__cell">Northbound</td>
          <td class="govuk-table__cell">LO62 NRO</td>
          <td class="govuk-table__cell govuk-table__header--numeric"><strong class="govuk-tag govuk-tag--yellow"> UNPAID </strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">CR-02AU21-12-34</a></td>
          <td class="govuk-table__cell">02 Aug 2021</td>
          <td class="govuk-table__cell">12.34</td>
          <td class="govuk-table__cell">Northbound</td>
          <td class="govuk-table__cell">LO62 NRO</td>
          <td class="govuk-table__cell govuk-table__header--numeric"><strong class="govuk-tag govuk-tag--red"> PCN </strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">CR-02AU21-12-34</a></td>
          <td class="govuk-table__cell">02 Aug 2021</td>
          <td class="govuk-table__cell">12.34</td>
          <td class="govuk-table__cell">Northbound</td>
          <td class="govuk-table__cell">LO62 NRO</td>
          <td class="govuk-table__cell govuk-table__header--numeric"><strong class="govuk-tag govuk-tag--green"> PAID </strong></td>
        </tr>
      </tbody>
    </table>
  </div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half govuk-!-margin-top-7 app-!-divider">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Your vehicles</h3>
      <div class="govuk-!-margin-bottom-3">
         <h3 class="govuk-heading-xl govuk-!-font-weight-regular govuk-!-margin-bottom-0">2 <span class="govuk-body">Vehicles</span></h3>
      </div>
      <div class="govuk-!-margin-top-3"><a class="govuk-link govuk-body govuk-link--no-visited-state" role="link"  href="/dashboard/vehicles" >View vehicles</a></div>
    </div>
    <div class="govuk-grid-column-one-half govuk-!-padding-left-7 govuk-!-margin-top-7 govuk-!-margin-bottom-7">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Your savings</h3>
      <div class="govuk-!-margin-bottom-3">
         <h3 class="govuk-heading-xl govuk-!-font-weight-regular govuk-!-margin-bottom-0">£ 10 <span class="govuk-body">Average saving/month</span></h3>
      </div>
      <div class="govuk-!-margin-top-3"><a class="govuk-link govuk-body govuk-link--no-visited-state" role="link"  href="/dashboard/payments" >View payment history</a></div>
    </div>
  </div>
</div>
 <!--<div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>

  <div class="govuk-grid-column-one-quarter">
    <p><b>Notifications </b><br> 459244993</p>
    <p><b>Account type </b><br> Personal PrePay account</p>
</div>-->



{% endblock %}
