
{% extends "layout.html" %}

{% block pageTitle %}
  Prototype Iterations
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Pay the Dartford Crossing charge (Dart Charge)
    </h1>

  <!--  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        ALPHA PHASE
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">Assessment: 20th January 2022</p>
    </div>
  </div>
      <p></p>-->

      <p><br></p>


      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#research-versions">
              Research versions
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#prototype-iterations">
              Prototype Iterations
            </a>
          </li>
        </ul>

<!--Research Iterations-->
        <div class="govuk-tabs__panel" id="research-versions">
          <h2 class="govuk-heading-l">Latest Research version</h2>
          <p>This will be the most up to date version of the prototype and can be used with Users for testing.</p>

          <h3 class="govuk-heading-m">Prototype Version: <p class="govuk-body-l">04</p></h3>

      <a href="/v04/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      View prototype</a>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <h2 class="govuk-heading-m">Information required for usability tests
                <ul class="govuk-list govuk-list--bullet">
                  <li>Name - Alex Lee</li>
                  <li>vehicle registration - LO62 NRO</li>
                  <li>email address - alex.lee@gmail.com</li>
                  <li>phone no - 0789912345</li>
                  <li>postcode - DA1 1DY</li>
                  <li>address - 3 Bark Road, Dartford, Kent DA1 1DY</li>
                  </ul>
                </h2>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<h2 class="govuk-heading-m">Figma walk-through prototypes</h2>
  <a class="govuk-link" href="https://www.figma.com/proto/kVnm7SXP3mYmiZLkyDI294/HEDC-SMS-POC?page-id=0%3A1&node-id=0%3A1&viewport=289%2C48%2C0.22&scaling=scale-down&starting-point-node-id=2%3A3413" class="govuk-link rel="noreferrer noopener" target="_blank">Figma Walkthrough Prototype of SMS journey (PoC)</a>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">Research sessions</h2>
                <th scope="col" class="govuk-table__header">Sprint</th>
                <th scope="col" class="govuk-table__header">No of <br>participants</th>
                <th scope="col" class="govuk-table__header">Confidence</th>
                <th scope="col" class="govuk-table__header">Link to research findings</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">11</td>
                <td class="govuk-table__cell">7</td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--yellow">Medium</span>
                <td class="govuk-table__cell">
                  <a href="https://docs.google.com/presentation/d/1h1LhTjfXkoS5G9O2OfW48rPaZY54H48KXF9_rIEhK5Y/edit#slide=id.ge0c95a1ed0_0_130" class="govuk-link rel="noreferrer noopener" target="_blank">Research document
</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">12</td>
                <td class="govuk-table__cell">5</td>
                <td class="govuk-table__cell">
                  <span class="govuk-tag govuk-tag--red">Low</span>
                  <td class="govuk-table__cell">
                    <a href="https://docs.google.com/presentation/d/1XYrMFy0_yr1G7J49WCsii_PAVEEoHPJZFEkUnoNLBNs/edit?usp=sharing" class="govuk-link rel="noreferrer noopener" target="_blank">Research document
    </a>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link rel="noreferrer noopener" target="_blank"></a>
              </tr>
            </tbody>
          </table>

<!--Prototype Iterations-->
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel" id="prototype-iterations">
          <h2 class="govuk-heading-l">Prototype iterations</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <h2 class="govuk-heading-m">Inputs for prototypes</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Name - Alex Lee</li>
                    <li>vehicle registration - LO62 NRO</li>
                    <li>email address - alex.lee@gmail.com</li>
                    <li>phone no - 0789912345</li>
                    <li>postcode - DA1 1DY</li>
                    <li>address - 3 Bark Road, Dartford, Kent DA1 1DY</li>
                  </ul>

<!--v04-->
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Version 05 - Current in-progress version</h2>
    <a href="/v05/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
       View prototype</a>
    <!--V04 summary list-->
       <dl class="govuk-summary-list">
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Screen name
           </dt>
           <dd class="govuk-summary-list__key">
             Changes made
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__value">
             <a class="govuk-link" href="http://localhost:3000/v04/start">
            Start<span class="govuk-visually-hidden">Start</span></a>
           </dt>
           <dd class="govuk-summary-list__value">
             Nicks page
           </dd>

         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__value">
             <a class="govuk-link" href="http://localhost:3000/v04/create-account/create-start">
            Create your account <span class="govuk-visually-hidden">Create your account </span>
                 </a>
           </dt>
           <dd class="govuk-summary-list__value">
            Iterations on Feedback from research   </dd>
         </div>

         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__value">
             <a class="govuk-link" href="#">
            One off payment flow<span class="govuk-visually-hidden">One off payment flow</span>
                 </a>
           </dt>
           <dd class="govuk-summary-list__value">
             Transfer from other prototype plus Content changes  </dd>
         </div>

      <!--   <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__value">
          <a class="govuk-link" href="#">
         Manage account<span class="govuk-visually-hidden">Manage account</span>
              </a>
           </dt>
          <!-- <dd class="govuk-summary-list__value">
             <p class="govuk-body">Dashboard copied from previous version with heading</p>
             <p class="govuk-body"></p>
           </dd>-->

       </dl>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

<h2 class="govuk-heading-m">*Version 04 - Being tested</h2>
<a href="/v04/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
   View prototype</a>
<!--V04 summary list-->
   <dl class="govuk-summary-list">
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Screen name
       </dt>
       <dd class="govuk-summary-list__key">
         Changes made
       </dd>
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__value">
         <a class="govuk-link" href="http://localhost:3000/v04/start">
        Start<span class="govuk-visually-hidden">Start</span></a>
       </dt>
       <dd class="govuk-summary-list__value">
         Congestion details added
       </dd>

     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__value">
         <a class="govuk-link" href="http://localhost:3000/v04/create-account/create-start">
        Create your account <span class="govuk-visually-hidden">Create your account </span>
             </a>
       </dt>
       <dd class="govuk-summary-list__value">
         Iteration on full journey using Single Sign on as Design approach.<br><b> Single sign on not live until March 2022.</b>
       </dd>
     </div>

     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__value">
         <a class="govuk-link" href="#">
        One off payment flow<span class="govuk-visually-hidden">One off payment flow</span>
             </a>
       </dt>
       <dd class="govuk-summary-list__value">
         Content changes  </dd>
     </div>

     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__value">
      <a class="govuk-link" href="#">
     Manage account<span class="govuk-visually-hidden">Manage account</span>
          </a>
       </dt>
       <dd class="govuk-summary-list__value">
         <p class="govuk-body">Dashboard copied from previous version with heading</p>
         <p class="govuk-body"></p>
       </dd>

   </dl>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

   <!--v03--><!--
<h2 class="govuk-heading-m">Version 03</h2>
<a href="/v04/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
View prototype</a>
<!--V03 summary list-->
<!--
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Screen name
</dt>
<dd class="govuk-summary-list__key">
Changes made
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="http://localhost:3000/v03/start">
Start<span class="govuk-visually-hidden">Start</span></a>
</dt>
<dd class="govuk-summary-list__value">
Congestion details added
</dd>

</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="#">
Name <span class="govuk-visually-hidden">name</span>
</a>
</dt>
<dd class="govuk-summary-list__value">
Description
</dd>

</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="#">
Name <span class="govuk-visually-hidden">Name</span>
</a>
</dt>
<dd class="govuk-summary-list__value">
<p class="govuk-body">Description</p>
<p class="govuk-body"></p>
</dd>
</dl>

<!--v03
<h2 class="govuk-heading-m">Version 02</h2>
<a href="/v04/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
View prototype</a>
<!--V03 summary list

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Screen name
</dt>
<dd class="govuk-summary-list__key">
Changes made
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="http://localhost:3000/v02/start">
Start<span class="govuk-visually-hidden">Start</span></a>
</dt>
<dd class="govuk-summary-list__value">
Congestion details added
</dd>

</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="#">
Name <span class="govuk-visually-hidden">name</span>
</a>
</dt>
<dd class="govuk-summary-list__value">
Description
</dd>

</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__value">
<a class="govuk-link" href="#">
Name <span class="govuk-visually-hidden">Name</span>
</a>
</dt>
<dd class="govuk-summary-list__value">
<p class="govuk-body">Description</p>
<p class="govuk-body"></p>
</dd>
</dl>

<!--v01-
<h2 class="govuk-heading-m">Version 01</h2>
<a href="/v01/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
View prototype</a>
<!--V01 summary list-->


<!--visual-->
<h2 class="govuk-heading-m">Visual Designs</h2>
<div>
  <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="https://www.figma.com/file/UMjLyoKZkjqX0AIPiWObGf/Make-a-one-off-payment_v3">HCL Figma prototype - One Off Payment</a>
  </li>
  <li>
    <a class="govuk-link" href="https://miro.com/app/board/uXjVOanaAa8=/">Hippo - Miro - Alpha Iterations </a>
  </li>
  <li>
    <a class="govuk-link" href="https://www.figma.com/proto/kVnm7SXP3mYmiZLkyDI294/HEDC-SMS-POC?page-id=0%3A1&node-id=0%3A1&viewport=289%2C48%2C0.22&scaling=scale-down&starting-point-node-id=2%3A3413" class="govuk-link rel="noreferrer noopener" target="_blank">Figma Walkthrough Prototype of SMS journey POC</a>
  </li>
  <li>
    <a class="govuk-link" href="#"></a>
  </li>
</ul>
  </div>
    </div>
      </div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h2 class="govuk-heading-m">Documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
