{% extends "layout.html" %}

{% block pageTitle %}
  Enter your address
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/url/of/next/page" method="post">
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Step 2 - Where you live</h1>
          <fieldset class="govuk-fieldset">
            <h1 class="govuk-heading-l">Enter your address</h1>
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

              </legend>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-1">
                  Building number and street <span class="govuk-visually-hidden">line 1 of 2</span>
                </label>
                <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1"></div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-2">
                  <span class="govuk-visually-hidden">Building number and street line 2 of 2</span>
                </label>
                <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2"></div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-town">
                  Town or city
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2"></div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-county">
                  County (optional)
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text"></div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-postcode">
                  Postcode
                </label>
                <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code"></div>

            </fieldset>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

    <!--<p class='govuk-body'> If you already have an account you can <a href='#'>sign in</a></p>
-->




      </form>

    </div>
  </div>

{% endblock %}
