{% extends "layout.html" %}

{% block pageTitle %}
  Find your address
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="form" method="post" action="mobile">
        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Step 4 - your account</h1>
          <fieldset class="govuk-fieldset">
            <h1 class="govuk-heading-l">Create a password</h1>

            <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="mobile" method="post">
                {{ govukFieldset({
                    legend: {
                        html: "",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                <p>Your password must be 8 characters or more.</p>

                <p>It must include at least:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>one uppercase letter</li>
                    <li>one lowercase letter</li>
                    <li>one number</li>
                    <li>one special character</li>
                </ul>

                {{ govukDetails({
                    summaryText: "Which special characters can I use?",
                    html: 'You can use any of the following special characters: @ # $ % ^ & * - _ ; ! + = [ ] { } | \ : ‘ , . ? / ` ~ " ( ) '
                  }) }}

                {{ govukInput({
                    label: {
                        text: "Enter password"
                    },
                    id: "register-password",
                    name: "register-password",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Retype password"
                    },
                    id: "register-confirm-password",
                    name: "register-confirm-password",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

      </form>

    </div>
  </div>

{% endblock %}
