{% extends "layout.html" %}

{% block pageTitle %}
  Passwords don't match
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="form" method="post" action="mobile">

<!--Error summary-->
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
    </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#passport-issued-day">Enter the same password in both fields</a>
      </li>
    </ul>
  </div>
</div>


        <h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-1">Step 4 - your account</h1>
          <fieldset class="govuk-fieldset">

            <h1 class="govuk-heading-l">Create a password</h1>

            <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="mobile" method="post">
                {{ govukFieldset({
                    legend: {
                        html: "",
                        classes: "govuk-fieldset__legend",
                        isPageHeading: true
                    }
                })}}
              <p>It must be at least 8 characters long and must include at least one number.</p>
              <!--  <p>Your password must be 8 characters or more.</p>-->

              <!--  <p>It must include at least:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>one uppercase letter</li>
                    <li>one lowercase letter</li>
                    <li>one number</li>
                    <li>one special character</li>
                </ul>-->

              <!--    {{ govukDetails({
                    summaryText: "Which special characters can I use?",
                    html: 'You can use any of the following special characters: @ # $ % ^ & * - _ ; ! + = [ ] { } | \ : ‘ , . ? / ` ~ " ( ) '
                  }) }}-->

                {{ govukInput({
                    label: {
                        text: "Enter password"
                    },
                    id: "register-password",
                    name: "register-password",
                    classes: "govuk-!-width-two-thirds",
                    errorMessage: {
    "text": "Enter the same password in both fields"
  }
                }) }}

                {{ govukInput({
                    label: {
                        text: "Retype password"
                    },
                    id: "register-confirm-password",
                    name: "register-confirm-password",
                    classes: "govuk-!-width-two-thirds",
                    errorMessage: {
    "text": "Enter the same password in both fields"
  }
                }) }}


                {{ govukDetails({
                      summaryText: "How to create a secure password",
                      html: "A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces."
          }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

      </form>

    </div>
  </div>

{% endblock %}
